<div class="row">
  <div class="col-md-6" id="message"></div>
</div>
<div class="row">
  <div class="col-md-6 panel panel-default">
    <div class="panel-heading"><h3>Configure new relay</h3></div>
    <form role="form">
      <div class="form-group">
        <label for="newRelayName">Relay Name</label>
        <input class="form-control" type="text" id="newRelayName" placehol\
der="Give it a spiffy name">
        <label for="newRelayAddress">Address</label>
        <input class="form-control" id="newRelayAddress" value="0x20">
      </div>
      <label for="newRelayPinCount">#Pins</label>
      <select class="form-control" id="newRelayPinCount">
        <option>4</option>
        <option>8</option>
      </select>
      <input type="button" id="create" value="Add">
    </form>
  </div>
</div>
<script src="/js/relaycreate.js"></script>
