<div class="row">
  <div class="col-md-2">
    <ul id="menu" class="nav nav-pills nav-stacked">
      <li id="status" class="active"><a href="#">Status</a></li>
      <li id="edit"><a href="#">Edit</a></li>
      <li id="create"><a href="#">Create</a></li>
    </ul>
  </div>
  
  <div class="col-md-8 col-md-offset-1" id="content">
    
  </div>
</div>
<script src="js/navigation.js"></script>
